export(
  "as_balanced", 
  "compare_countries", 
  "hist_ci", 
  "is_balanced",
  "logistic_growth",
  "quantile_ci", 
  "R_t",
  "swash"
  )
exportMethods(
    "confint",
    "plot",
    "print",
    "summary",
    "plot_regions"
)
exportClasses(
    "sbm",
    "sbm_ci",
    "countries",
    "loggrowth"
)
importFrom("graphics", 
           "abline", 
           "barplot", 
           "hist", 
           "par", 
           "boxplot", 
           "lines", 
           "axis", 
           "grid", 
           "mtext", 
           "points", 
           "rect",
           "text"
           )
importFrom("methods", "new")
importFrom("stats", "aggregate", "lm", "median", "nls", "quantile")
importFrom("grDevices", "dev.new")
importFrom("lubridate", "is.Date")