export("as_balanced", "compare_countries", "hist_ci", "is_balanced", "quantile_ci", "swash")
exportMethods(
    "confint",
    "plot",
    "print",
    "summary",
    "plot_regions"
)
exportClasses(
    "sbm",
    "sbm_ci",
    "countries"
)
importFrom("graphics", "abline", "barplot", "hist", "par", "boxplot", "lines")
importFrom("methods", "new")
importFrom("stats", "aggregate", "quantile", "median")